.address {
  color: var(--seconder-text-color);
  font-style: normal; 
  font-size: 14px;
  line-height: 1.7143;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &.current {
      color: var(--main-btn-color);
    }
}
    
.footer {
  background-color: var(--seconder-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-soc {
  margin-left: 70px;
}

.footer-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--seconder-text-color);
  margin-bottom: 20px;
}
.footer__container {
  display: flex;    
  align-items: baseline;
}
