.logo { 
    color: var(--main-btn-color); 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
}

.header__logo-margin {
    margin-right: 93px;
}

.logo--blue { 
    color: var(--seconder-btn-color)}

.logo--white {
    color: var(--fourth-btn-color);
}

